body{
    background-color:white;
    margin: 0;
    color: black;
}
.bannerhero img{
    max-width: 100%;
    height: auto;
    margin: auto;
    width: auto;
    display: block;
    background-image: url("../challenge2/assets/Banner.jpg");
    background-position: center;
}

.header {
    padding: 20px auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header a {
    color: black;
    text-decoration: underline solid gold;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header h1 {
    padding-left: 15px;
    display: inline;
    font-size: 15px;
}

.header div {
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.header div ul li {
    display: inline;
    list-style-type: none;
    padding: 50px;
}

.container h2 {
    margin: 50px 0 10px 35px;
    padding: 0 10px;
    height: fit-content;
    max-width: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gold;
    color: black;
}

.container p {
    text-align: justify;
    max-width: 95%;
    margin: 20px 0 0 35px;
}

.container ul li{
   list-style-type: square gold;
    }

.aboutmeimg {
    margin: 20px 20px 20px 25px;
    float: left;
    width: 200px;
    height: auto;

}

.wpimg {
    margin: 20px 20px 20px 35px;
    border: 5px gold solid;
    width: auto;
    height: 150px;
    float: left;
}

.ipimg {
    margin: 20px 20px 20px 35px;
    border: 5px gold solid;
    width: auto;
    height: 150px;
    float: left;
    opacity: 0.25;
}

.wpimg:hover {
    margin: 20px 20px 20px 35px;
    border: 5px black solid;
    width: auto;
    height: 160px;
    float: left;
}

.ipimg:hover {
    margin: 20px 20px 20px 35px;
    border: 5px gold solid;
    width: auto;
    height: 160px;
    float: left;
    opacity: 1; 
}